<p>
  <strong>Name:</strong>
  <%= @users_info.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @users_info.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @users_info.address %>
</p>

<p>
  <strong>Why I'm interested in solar energy:</strong>
  <%= @users_info.interest %>
</p>
